################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WorkLink/WorkLink/bin/Debug/netcoreapp3.1
/WorkLink/WorkLink/obj
/WorkLink/.vs/WorkLink/v16
/.vs
